<a href="/" class="btn btn-primary mb-4">Back to catalog</a>

<% for (const object of data){ %>
    <% if(typeof user != 'undefined') { %>
        <a href="/user/<%= sub %>/<%=object.id%>" class="btn btn-primary mb-4"><%= sub %></a> 
    <% } %>
    <div class="card">
        <h2 class="ml-4 mt-4" id="object-name"> <%= object.name %> </h2>
        <p id="object-description" class="mb-3 mt-3 ml-4 mr-4">
            <span class="subtitle">Object information</span> <br>
        </p>
        <span class="mb-3 mt-3 ml-4 mr-4 subtitle" id="TLE-data">Object data from TLE:</span>
        <pre class="mb-3"> 
            Type: <%= object.type.toLowerCase() %> 
            International object designator: <%= object.intldes %>

            Year of launch: <%= object.launchDate %>

            Orbital data:
                --- inclination (degrees) <%= object.inclination %>
                --- right ascension of the ascending node (degrees): <%= object.ascension %>
                --- Argument of perigee (degrees): <%= object.perigee %>
                --- Mean anomaly (degrees): <%= object.anomaly %>
                --- Eccentricity (decimal point assumed): <%= object.eccentricity %>
                --- B Star Drag: <%= object.drag %>
            
            Revolutions per day (mean motion): <%= object.motion %>
            Revolution count at epoch: <%= object.revolution %>
        </pre>
        <div class="container">
            <div class="card border-danger mb-3">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-danger btn-smbtn-danger" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span id="toggle"> Show </span> TLE data 
                    </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                        <pre class="mt-4">
                            <%= object.tle %>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <embed src="https://stuffin.codingneko.com/?intldes=<%=data[0].intldes%>" class="stuffin-space">
    </div>
    <div class="card mt-4">
        <%- include('../inc/comment'); %>
    </div>
<% } %>

<script src="/resources/js/loadWiki.js"></script>